/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, code,
del, em, img, q,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    background: rgba(0, 0, 255, 0.48);
}


nav ul {
    justify-content: center;
    flex-direction: row;
    display: flex;
}

nav ul li {
    padding: 5px;
    margin-right: 20px;
    background: beige;
}

nav ul li.order1 {
    order: 1;
}

nav ul li.order2 {
    order: 2;
}

nav ul li.order3 {
    order: 3;
}

.full-width {
    width: 100%;
}

.title {
    color: green;
    font-size: 50px;
    line-height: 100px;
}


/** Box Component */

.photos-wrapper {
}

photo-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.photo-card {
    display: block;
    margin-right: 50px;
}

div.photo-card {
    width: 300px;
    height: 200px;
    border: solid 1px;
}

div.photo-card .title {
    color: red;
    font-size: 20px;
}

div.photo-card .text p {
    color: blue !important;
    font-size: 10px;
    font-weight: normal;
}

/** END Box Component **/

main {
    width: 1100px;
    margin: 0 auto;
    background: beige;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.bo div.text {
    font-weight: bold;
    color: red;
}
